<h1>To Do List</h1>
<ul>
  @foreach (var task in Model)
  {
    <li><a href='/view_tasks/@task.GetIdentification()'>@task.GetTaskDescription()</a></li>
  }
</ul>
<a href='/'>Add new task</a>

<form action='/tasks_cleared' method='post'>
  <button type='submit'> "Clear Tasks" </button>
</form>
